* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 700px;
  background: linear-gradient(0.25turn, #adbfc7, #ebf8e1, #dbccbc);
}

.cardContainer {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  min-width: 700px;
  border-radius: 20px;
  background: white;
  box-shadow: 0px 8px 13px grey;
}
.DateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.year {
  font-size: 40px;
  padding-bottom: 10px;
}
.date {
  font-size: 80px;
}

.MessageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.addMessage {
  font-size: 30px;
  padding-bottom: 10px;
}
.addTodoForm {
  font-size: 26px;
  height: 40px;
  width: 400px;
  border-radius: 10px;
  border: rgb(185, 180, 166) solid 2px;
}
.buttonContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.addTodo {
  width: 180px;
  border-radius: 10px;
  background-color: rgb(173, 230, 230);
  height: 40px;
  font-size: 18px;
  transition: background-color 0.3s;
  box-shadow: 1px 2px 4px 0px rgb(207 202 202);
}
.return {
  width: 180px;
  border-radius: 10px;
  background-color: rgba(238, 241, 235, 0.5);
  height: 40px;
  font-size: 18px;
  transition: background-color 0.3s;
  box-shadow: 1px 2px 4px 0px rgb(207 202 202);
}

.addTodo:hover {
  background-color: rgba(173, 230, 230, 0.5);
}
.return:hover {
  background-color: rgba(184, 204, 164, 0.5);
}

.todoListContainer {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  width: 50%;
  gap: 20px;
  transition: text-decoration 1s;
}

.todoList {
  display: flex;
  font-size: 20px;
  border-radius: 10px;
  padding: 5px;
}
.todoBullet {
  margin-right: 10px;
  font-size: 24px;
}
.todoDetail {
  text-align: center;
  line-height: 30px;
}

.todoList:hover {
  text-decoration: rgb(213, 231, 213) wavy underline;
}
